<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644479377513-c05j7sh2jgd00jfsvv8qh6e9tcnkp1q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644479377513-c05j7sh2jgd00jfsvv8qh6e9tcnkp1q9</string>
	<key>API_KEY</key>
	<string>AIzaSyC9hc7rOwoYgjtItMD-ap1U3LvnPbT1pCM</string>
	<key>GCM_SENDER_ID</key>
	<string>644479377513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shyke-shupit.Bebeep</string>
	<key>PROJECT_ID</key>
	<string>bebeep-81f9c</string>
	<key>STORAGE_BUCKET</key>
	<string>bebeep-81f9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644479377513:ios:fb63a9dd4f78b3224d82f8</string>
	<key>DATABASE_URL</key>
	<string>https://bebeep-81f9c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>